# From Python to R: Learning the Basics of R Programming

## Hello World!

In [ ]:
# print("Hello world") # Python
print("Hello world")

[1] "Hello world"

## Working with variables

In Python, everything is an object. Variables, lists, dictionaries, tuples, etc. It's built as a general purpose language. In contrast, R is a vector based language. Working with vectors (a series of values of the same type) is key to being a good R programmer. Below we'll create variables in R with Python syntax in the comments.

In [ ]:
# Numeric Variables
############################

# x = 3 #Python
x <- 3

# y = 3.5 #Python
y <- 3.5

# Character Variables/strings
############################
# strng = "Supercalifragilisticexpialidocious"
strng <- "Supercalifragilisticexpialidocious"

# Lists, dictionaries, etc
############################
# vectors: no Python equivalent
vector_of_numbers <- c(1, 5, 6, 6, 99)

# list_of_numbers = [1, 5, 6, 6, 99] #Python
list_of_numbers <- list(1, 5, 6, 6, 99)

# Note that there are no dictionaries in R. Instead we use a named list.
# fruits = {'oranges': 3, 'apples': 7, 'pineapple': 1} #Python
fruits <- list(oranges = 3, apples = 7, pineapple = 1)

# Booleans
#############################
# var = True
var <- TRUE

In [ ]:
print("Integer:")
print(x)
print("Float:")
print(y)
print("String:")
print(strng)
print("Vector:")
print(vector_of_numbers)
print("List:")
print(list_of_numbers)
print("Named list:")
print(fruits)
print("Boolean")
print(var)

[1] "Integer:"
[1] 3
[1] "Float:"
[1] 3.5
[1] "String:"
[1] "Supercalifragilisticexpialidocious"
[1] "Vector:"
[1]  1  5  6  6 99
[1] "List:"
[[1]]
[1] 1

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 6

[[5]]
[1] 99

[1] "Named list:"
$oranges
[1] 3

$apples
[1] 7

$pineapple
[1] 1

[1] "Boolean"
[1] TRUE

### Numeric Operations

In [ ]:
# Because Python and R mathematical operations are mostly similar we'll be using a vector to show
# common mathematical operations. I'll note when they are difference

x <- c(2, 5, 7, 9, 12)

# Addition
print(x + 1)

# Subtraction
print(x - 6)

# Multiplication
print(x * 3.7)

# Division
print(x / 3)

# Exponentiation
# 2 ** 3 # Python
print(x ^ 3)

# Modulus: leftover after division
# 2 % 3 # Python
print(x %% 3)

# floor division: discard the remainder after division
# 2 // 3 # Python
print(x %/% 3)

[1]  3  6  8 10 13
[1] -4 -1  1  3  6
[1]  7.4 18.5 25.9 33.3 44.4
[1] 0.6666667 1.6666667 2.3333333 3.0000000 4.0000000
[1]    8  125  343  729 1728
[1] 2 2 1 0 0
[1] 0 1 2 3 4

### String operations

In [ ]:
x <- "hello"
y <- "world"

# Concatenate
# print(x, y) #Python

cat(x, y, "\n", sep = " ") # note that I have to include a newline in this
print(paste0(x, " ", y))

xy <- paste0(x, " ", y)

# get string length
# len(xy)
print(nchar(xy))

# slice a string
# xy[7:] # Python
print(substr(xy, 7, nchar(xy)))

# split a string
# xy.split() # Python
print(strsplit(xy, split = " "))

hello world
[1] "hello world"
[1] 11
[1] "world"
[[1]]
[1] "hello" "world"

### Working with logicals/booleans

In [ ]:
# Most operations are the same in Python and R. ==, !=, >, <, >=, <= are all the same
# Where it differs the most is that NA is included as a boolean in R and when combining
# booleans R uses & for and, | for or, and ! for not

# Logical and
print("and")
# True and False # Python
print(TRUE & FALSE)
print("#########")

# Logical or
print("or")
# True or False # Python
print(TRUE | FALSE)
print("#########")

# Logical not
print("not")
print(!TRUE)
print("#########")
print("#########")

# Working with NA values
print(TRUE & NA)
print(FALSE | NA)
print(is.na(7))

[1] "and"
[1] FALSE
[1] "#########"
[1] "or"
[1] TRUE
[1] "#########"
[1] "not"
[1] FALSE
[1] "#########"
[1] "#########"
[1] NA
[1] NA
[1] FALSE

### Casting variables

In [ ]:
# Strings to numerics

# String to numeric
# int("42") # Python
# float(42) # Python
# int(42.5) # Python

x <- "42"
print(x)
print(class(x))

y = as.integer(x)
print(y)
print(class(y))


# Vectors to lists
# Casting to vectors in Python is not possible. But you can cast from tuples to lists
# tuple_num = (1, 2, 3) # Python
# list_num = [1, 2, 3] # Python
# list(tuple) # Python
# tuple(list) # Python
x <- c(1,4, 42, 3, -7, 0, NA_integer_)
print(x)
y <- as.list(x)
print(y)

[1] "42"
[1] "character"
[1] 42
[1] "integer"
[1]  1  4 42  3 -7  0 NA
[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 42

[[4]]
[1] 3

[[5]]
[1] -7

[[6]]
[1] 0

[[7]]
[1] NA

## Loops

In [ ]:
# vars = ["hello world", 3.14, None, [1, 2, 3, 4], -99] # Python
# for x in vars:
#     print(x)
#     print(type(x))

vars <- list("hello world", 3.14, NA, c(1, 2, 3, 4), -99)

for(x in vars) {
    print(x)
    print(typeof(x))
}

[1] "hello world"
[1] "character"
[1] " "
[1] 3.14
[1] "double"
[1] " "
[1] NA
[1] "logical"
[1] " "
[1] 1 2 3 4
[1] "double"
[1] " "
[1] -99
[1] "double"
[1] " "

## Conditionals

In [ ]:
# Python below
# if len(x) > 1:
# elif x == None:
# else:

for(x in vars) {
    if(length(x) > 1)
        for(y in x) {
            print(y)
    } else if(is.na(x)) {
        print("Missing value")
    } else {
        print("only 1 element")
    }
}

[1] "only 1 element"
[1] "only 1 element"
[1] "Missing value"
[1] 1
[1] 2
[1] 3
[1] 4
[1] "only 1 element"

## Functions

In [ ]:
# def reverse_string(var): # Python version
    # We're going to treat a string as a list
    # Split on each character
#    char_list = list(var)
    # Reverse the elements of the list
#    char_list.reverse()
    # Concatenate the reversed characters to form the reversed string
#    reversed_string = ''.join(char_list)
#    return reversed_string # note the explicit return


reverse_string <- function(var) {
    # We're going to treat a string as a vector

    # set an empty return variable
    r <- ""

    # split on each letter
    r <- strsplit(var, NULL)[[1]]
    # [[1]] is there because strplit returns a list we're specifying that we want the first element of
    # the list which is a vector

    r <- rev(r) # reverse the elements of the vector
    r <- paste(r, collapse = "")
    r # the last statement is returned without an explicit statememnt. To return nothing type return(NULL)
}

print(reverse_string("hello world"))

[1] "dlrow olleh"